html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #111111;
}
//layout
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#container {
  flex: 1 1;
}
#footer {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  color: #fff;
  background-color: #222222;
  margin-top: 20px;
  a {
    padding: 0 8px;
  }
}
#header {
  display: flex;
  align-items: center;
  height: 80px;
  color: #eee;
  font-size: 30px;
  background-color: #222222;
}
#main {
  margin-top: 20px;
}
//card
.cardWrap {
  height: 170px;
}
.cardTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.cardContent {
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
  height: 4rem;
  word-break: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
}
.cardBox {
  padding-bottom: 0px !important;
}

.cardBottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
//article
.articleWrap {
  max-width: 700px;
  margin: auto;
}

//post
.postTitle {
  padding: 70px 0;
  font-weight: bold !important;
  color: #eee;
}

//tag

.tag {
  color: #70ade1;
  background-color: #111111;
  border-radius: 15px;
  padding: 5px 10px;
  margin-left: 5px;
}
.divider {
  margin: 6px 0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
