html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #111111;
}
//layout
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#container {
  flex: 1 1;
}
#footer {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  color: #fff;
  background-color: #222222;
  margin-top: 20px;
  a {
    padding: 0 8px;
  }
}
#header {
  display: flex;
  align-items: center;
  height: 80px;
  color: #eee;
  font-size: 30px;
  background-color: #222222;
}
#main {
  margin-top: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.toastui-editor-contents {
  font-size: 16px !important;
}

.operator {
  background: initial !important;
  color: #fff !important;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #e15d5d !important;
}
.toastui-editor-contents h2 {
  color: #82b1ff !important;
}
.toastui-editor-dark .toastui-editor-contents blockquote {
  border-color: #1de9b6 !important;
  background: black !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.toastui-editor-dark .toastui-editor-contents blockquote p {
  color: #eee !important;
  font-weight: 600;
}

.toastui-editor-contents strong {
  color: #7c4dff !important;
}

.toastui-editor-dark .toastui-editor-contents pre {
  overflow-x: auto !important;
}

.마크다운뷰어 p,
ul {
  color: #eee;
}
.마크다운뷰어 h2 {
  color: #82b1ff;
}
.마크다운뷰어 h3 {
  color: #eee;
}
.마크다운뷰어 strong {
  color: #7c4dff;
}
.마크다운뷰어 img {
  min-width: 46%;
  max-width: 94%;
}
.마크다운뷰어 blockquote {
  background: #222222;
  border-left: 2px solid #4a7ed5;
  padding: 5px 20px;
  margin: 10px 0;
}
